In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys
sys.path.append("/Users/kimabcouwer/Projects/data-science-challenge")

import src.utils.helper_functions as hf

raw_training_data = pd.read_csv("../data/raw/Training_dataset.csv")

In [2]:
# Preprocess data

# Drop columns
data = hf.drop_columns(raw_training_data)

print("\n Data shape after dropping columns: ", data.shape)
data.info()

 Data shape after dropping columns:  (6298, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6298 entries, 0 to 6297
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             6298 non-null   int64
 1   VehColorExt           6225 non-null   object
 2   VehDriveTrain         5897 non-null   object
 3   VehMake               6298 non-null   object
 4   VehMileage            6296 non-null   float64
 5   VehModel              6298 non-null   object
 6   VehYear               6298 non-null   int64
 7   Vehicle_Trim          5893 non-null   object
 8   Dealer_Listing_Price  6246 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 443.0+ KB

In [3]:
# Examine Vehicle_Trim with extra drivetrain details
print("\n Veh Trim values with extra drivetrain details: ")
rslt_df = data.copy()
search_for = ['4x4', '4wd', 'fwd', 'awd', 'rwd']
column = 'Vehicle_Trim'

# Convert to lowercase
rslt_df[column] = rslt_df[column].str.lower()

rslt_df = rslt_df[(rslt_df[column].str.contains('|'.join(search_for))) & (rslt_df['VehDriveTrain'].isnull())]
rslt_df.info()

 Veh Trim values with extra drivetrain details:
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 1921 to 1921
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             1 non-null      int64
 1   VehColorExt           1 non-null      object
 2   VehDriveTrain         0 non-null      object
 3   VehMake               1 non-null      object
 4   VehMileage            1 non-null      float64
 5   VehModel              1 non-null      object
 6   VehYear               1 non-null      int64
 7   Vehicle_Trim          1 non-null      object
 8   Dealer_Listing_Price  1 non-null      float64
dtypes: float64(2), int64(2), object(5)
memory usage: 80.0+ bytes

In [4]:
rslt_df.head()

,ListingID,VehColorExt,VehDriveTrain,VehMake,VehMileage,VehModel,VehYear,Vehicle_Trim,Dealer_Listing_Price
1921,2677897,Red,NaN,Cadillac,19479.0,XT5,2017,fwd,31999.0

In [5]:
print("\n Transfering data...")
rslt_df = hf.transfer_data(rslt_df)
search_for = ['4x4', '4wd', 'fwd', 'awd', 'rwd']
column = 'Vehicle_Trim'

# Convert to lowercase
rslt_df[column] = rslt_df[column].str.lower()

rslt_df = rslt_df[(rslt_df[column].str.contains('|'.join(search_for))) & (rslt_df['VehDriveTrain'].isnull())]
rslt_df.info()
rslt_df.head()

 Transfering data...
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             0 non-null      int64
 1   VehColorExt           0 non-null      object
 2   VehDriveTrain         0 non-null      object
 3   VehMake               0 non-null      object
 4   VehMileage            0 non-null      float64
 5   VehModel              0 non-null      object
 6   VehYear               0 non-null      int64
 7   Vehicle_Trim          0 non-null      object
 8   Dealer_Listing_Price  0 non-null      float64
dtypes: float64(2), int64(2), object(5)
memory usage: 0.0+ bytes

Empty DataFrame
Columns: [ListingID, VehColorExt, VehDriveTrain, VehMake, VehMileage, VehModel, VehYear, Vehicle_Trim, Dealer_Listing_Price]
Index: []

In [6]:
# Transfer Vehicle_Trim extra data to VehDriveTrain
data = hf.transfer_data(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6298 entries, 0 to 6297
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             6298 non-null   int64
 1   VehColorExt           6225 non-null   object
 2   VehDriveTrain         6231 non-null   object
 3   VehMake               6298 non-null   object
 4   VehMileage            6296 non-null   float64
 5   VehModel              6298 non-null   object
 6   VehYear               6298 non-null   int64
 7   Vehicle_Trim          5893 non-null   object
 8   Dealer_Listing_Price  6246 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 443.0+ KB

In [7]:
# Drop rows with missing values
data = data.dropna()

print("\n Data shape after dropping rows with missing values: ", data.shape)
data.info()

 Data shape after dropping rows with missing values:  (5734, 9)
<class 'pandas.core.frame.DataFrame'>
Index: 5734 entries, 0 to 6297
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             5734 non-null   int64
 1   VehColorExt           5734 non-null   object
 2   VehDriveTrain         5734 non-null   object
 3   VehMake               5734 non-null   object
 4   VehMileage            5734 non-null   float64
 5   VehModel              5734 non-null   object
 6   VehYear               5734 non-null   int64
 7   Vehicle_Trim          5734 non-null   object
 8   Dealer_Listing_Price  5734 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 448.0+ KB

In [8]:
print("\n Number of unique values in each column: ")
data.nunique()

 Number of unique values in each column:

ListingID               5734
VehColorExt              164
VehDriveTrain             18
VehMake                    2
VehMileage              4801
VehModel                   2
VehYear                    5
Vehicle_Trim              29
Dealer_Listing_Price    2688
dtype: int64

In [9]:
# Examine VehColorExt values
print("\n VehColorExt values: ")
data["VehColorExt"].value_counts()

 VehColorExt values:

VehColorExt
Bright White Clearcoat                       581
Billet Silver Metallic Clearcoat             384
Brilliant Black Crystal Pearlcoat            371
Stellar Black Metallic                       310
Black                                        264
                                            ...
Certified Lthr Pano Roof Nav Camera            1
Granite Crystal Metallic Clearcoat - Gray      1
Crystal White Tricoa                           1
Ivory 3 Coat                                   1
Steel Gray                                     1
Name: count, Length: 164, dtype: int64

In [10]:
# Examine Veh Trim values
print("\n Veh Trim values: ")
data["Vehicle_Trim"].value_counts()

 Veh Trim values:

Vehicle_Trim
limited                             1873
premium luxury                       728
laredo                               678
luxury                               607
overland                             376
altitude                             323
summit                               236
trailhawk                            177
base                                 152
platinum                             125
high altitude                         84
srt                                   75
fwd                                   49
luxury fwd                            49
laredo e                              46
premium luxury fwd                    35
trackhawk                             30
sterling edition                      26
luxury awd                            20
platinum awd                          13
premium luxury awd                     9
75th anniversary                       8
limited 75th anniversary edition       5
srt night                              3
upland                                 3
limited 4x4                            1
75th anniversary edition               1
limited 75th anniversary               1
limited x                              1
Name: count, dtype: int64

In [11]:
# Examine VehDriveTrain values
print("\n VehDriveTrain values: ")
data["VehDriveTrain"].value_counts()

 VehDriveTrain values:

VehDriveTrain
4WD                                                           3822
FWD                                                           1046
AWD                                                            700
4X4                                                             42
Four Wheel Drive                                                40
All Wheel Drive                                                 19
Front Wheel Drive                                               16
4x4                                                             12
4x4/4-wheel drive                                               10
4x4/4WD                                                          9
AWD or 4x4                                                       6
All-wheel Drive                                                  5
Front-wheel Drive                                                2
ALL-WHEEL DRIVE WITH LOCKING AND LIMITED-SLIP DIFFERENTIAL       1
2WD                                                              1
ALL WHEEL                                                        1
AllWheelDrive                                                    1
4WD/AWD                                                          1
Name: count, dtype: int64

In [12]:
# Clean data
print("\n Cleaning data...")
data = hf.clean_data(data)

print("\n Number of unique values in each column: ")
data.nunique()

 Cleaning data...

 Number of unique values in each column:

ListingID               4088
VehColorExt               11
VehDriveTrain              3
VehMake                    2
VehMileage              3487
VehModel                   2
VehYear                    5
Vehicle_Trim              15
Dealer_Listing_Price    2078
dtype: int64

In [13]:
# Examine VehColorExt values after cleaning
print("\n VehColorExt values: ")
data["VehColorExt"].value_counts()

 VehColorExt values:

VehColorExt
White     1575
Silver     818
Gray       767
Red        534
Black      225
Blue        86
Brown       50
Green       15
Gold        15
Bronze       2
Purple       1
Name: count, dtype: int64

In [14]:
# Examine Veh Trim values after cleaning
print("\n Veh Trim values: ")
data["Vehicle_Trim"].value_counts()

 Veh Trim values:

Vehicle_Trim
Limited             1867
Laredo               678
Overland             374
Altitude             322
Summit               236
Trailhawk            177
Base                 152
High Altitude         83
SRT                   78
Laredo E              46
Trackhawk             30
Sterling Edition      26
75th Anniversary      15
Upland                 3
Limited X              1
Name: count, dtype: int64

In [15]:
# Examine VehDriveTrain values after cleaning
print("\n VehDriveTrain values: ")
data["VehDriveTrain"].value_counts()

 VehDriveTrain values:

VehDriveTrain
4WD    3924
FWD     147
AWD      17
Name: count, dtype: int64

In [16]:
# Create car age column
data = hf.create_car_age_column(data)

In [17]:
print("\nProcessed data:")
data.head()

Processed data:

,ListingID,VehColorExt,VehDriveTrain,VehMake,VehMileage,VehModel,VehYear,Vehicle_Trim,Dealer_Listing_Price,Car_Age
0,3287,White,4WD,Jeep,39319.0,Grand Cherokee,2015,High Altitude,30990.0,8
2,4777,White,4WD,Jeep,38957.0,Grand Cherokee,2015,Laredo,23249.0,8
3,6242,White,4WD,Jeep,20404.0,Grand Cherokee,2018,Limited,31977.0,5
5,10882,Silver,4WD,Jeep,34649.0,Grand Cherokee,2018,Limited,27900.0,5
6,12013,White,4WD,Jeep,48814.0,Grand Cherokee,2017,Laredo,22989.0,6

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4088 entries, 0 to 6297
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             4088 non-null   int64
 1   VehColorExt           4088 non-null   object
 2   VehDriveTrain         4088 non-null   object
 3   VehMake               4088 non-null   object
 4   VehMileage            4088 non-null   float64
 5   VehModel              4088 non-null   object
 6   VehYear               4088 non-null   int64
 7   Vehicle_Trim          4088 non-null   object
 8   Dealer_Listing_Price  4088 non-null   float64
 9   Car_Age               4088 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 351.3+ KB

In [19]:
data.nunique()

ListingID               4088
VehColorExt               11
VehDriveTrain              3
VehMake                    2
VehMileage              3487
VehModel                   2
VehYear                    5
Vehicle_Trim              15
Dealer_Listing_Price    2078
Car_Age                    5
dtype: int64

In [20]:
# Evaluate the data
print("\n Data evaluation: ")
data.describe()

 Data evaluation:

,ListingID,VehMileage,VehYear,Dealer_Listing_Price,Car_Age
count,4.088000e+03,4088.000000,4088.000000,4088.000000,4088.000000
mean,4.329132e+06,28097.302593,2016.443493,30197.954746,6.556507
std,2.499782e+06,12742.907146,1.252250,7387.416205,1.252250
min,3.287000e+03,0.000000,2015.000000,18289.000000,4.000000
25%,2.168919e+06,18263.250000,2015.000000,25750.000000,5.000000
50%,4.335645e+06,28892.000000,2017.000000,28900.000000,6.000000
75%,6.541194e+06,38684.000000,2018.000000,32997.000000,8.000000
max,8.620012e+06,56364.000000,2019.000000,89500.000000,8.000000