In [816]:
# READING THE DATA

In [817]:
# Load data
import pandas as pd
training_data = pd.read_csv("../data/raw/Training_dataset.csv")

In [818]:
# Convert into dataframe
df = pd.DataFrame(training_data)

In [819]:
# Print the first 5 rows of the training data
print("\nTraining Data:")
df.head()

Training Data:

,ListingID,SellerCity,SellerIsPriv,SellerListSrc,SellerName,SellerRating,SellerRevCnt,SellerState,SellerZip,VehBodystyle,...,VehMake,VehMileage,VehModel,VehPriceLabel,VehSellerNotes,VehType,VehTransmission,VehYear,Vehicle_Trim,Dealer_Listing_Price
0,3287,Warren,False,Inventory Command Center,Prime Motorz,5.0,32,MI,48091.0,SUV,...,Jeep,39319.0,Grand Cherokee,Fair Price,NaN,Used,Automatic 8-Speed,2015,High Altitude,30990.0
1,3920,Fargo,False,Cadillac Certified Program,Gateway Chevrolet Cadillac,4.8,1456,ND,58103.0,SUV,...,Cadillac,30352.0,XT5,Good Deal,Come take a look at our great pre-owned invent...,Used,NaN,2017,NaN,34860.0
2,4777,Waukesha,False,Jeep Certified Program,Wilde Chrysler Jeep Dodge Ram &amp; Subaru,4.8,1405,WI,53186.0,SUV,...,Jeep,38957.0,Grand Cherokee,Good Deal,Backed by a rigorous 125-point inspection by f...,Used,8-Speed Automatic w/OD,2015,Laredo,23249.0
3,6242,Wentzville,False,Inventory Command Center,Century Dodge Chrysler Jeep RAM,4.4,21,MO,63385.0,SUV,...,Jeep,20404.0,Grand Cherokee,Good Deal,Drop by to see us and you will quickly see how...,Used,Automatic,2018,Limited,31977.0
4,7108,Fayetteville,False,HomeNet Automotive,Superior Buick GMC of Fayetteville,3.7,74,AR,72703.0,SUV,...,Cadillac,19788.0,XT5,Good Deal,"Luxury, Exterior Parking Camera Rear, Front Du...",Used,8-Speed Automatic,2018,Luxury,33495.0

In [820]:
df.tail()

,ListingID,SellerCity,SellerIsPriv,SellerListSrc,SellerName,SellerRating,SellerRevCnt,SellerState,SellerZip,VehBodystyle,...,VehMake,VehMileage,VehModel,VehPriceLabel,VehSellerNotes,VehType,VehTransmission,VehYear,Vehicle_Trim,Dealer_Listing_Price
6293,8615125,Dearborn,True,Sell It Yourself,Abe,0.0,0,MI,48126.0,SUV,...,Jeep,49000.0,Grand Cherokee,NaN,****ALL BLACK EDITION****You are viewing a bea...,Used,Automatic,2015,High Altitude,18699.0
6294,8615510,Indianapolis,False,Digital Motorworks (DMi),CarMax Indianapolis,3.3,16,IN,46280.0,SUV,...,Jeep,20039.0,Grand Cherokee,Fair Price,CarMax makes car buying easy and hassle-free. ...,Used,8-Speed Automatic,2015,Limited,31998.0
6295,8616294,Dublin,False,Digital Motorworks (DMi),Cadillac of Dublin,4.1,20,OH,43017.0,SUV,...,Cadillac,16278.0,XT5,Good Deal,Clean CARFAX. Certified. Black 2018 Cadillac X...,Used,8-Speed Automatic,2018,Luxury,35674.0
6296,8617378,Sandusky,False,Digital Motorworks (DMi),Foster Chevrolet Cadillac,4.9,278,OH,44870.0,SUV,...,Cadillac,38146.0,XT5,Great Deal,Black 2017 Cadillac XT5 Luxury FWD 8-Speed Aut...,Used,8-Speed Automatic,2017,Luxury,31995.0
6297,8620012,Nashville,False,HomeNet Automotive,Vroom (Online Dealer - Nationwide Delivery),3.8,727,TN,37207.0,SUV,...,Jeep,17806.0,Grand Cherokee,Good Deal,"With Vroom, you can buy your next car from the...",Used,8-Speed Automatic w/OD,2018,Trailhawk,36280.0

In [821]:
# Display the number of rows and columns in the dataframe
print("\n Number of rows and columns in the dataframe: ")
df.shape

 Number of rows and columns in the dataframe:

(6298, 29)

In [822]:
# Display the column names in the dataframe
print("\n Column names in the dataframe: ")
df.columns

 Column names in the dataframe:

Index(['ListingID', 'SellerCity', 'SellerIsPriv', 'SellerListSrc',
       'SellerName', 'SellerRating', 'SellerRevCnt', 'SellerState',
       'SellerZip', 'VehBodystyle', 'VehCertified', 'VehColorExt',
       'VehColorInt', 'VehDriveTrain', 'VehEngine', 'VehFeats', 'VehFuel',
       'VehHistory', 'VehListdays', 'VehMake', 'VehMileage', 'VehModel',
       'VehPriceLabel', 'VehSellerNotes', 'VehType', 'VehTransmission',
       'VehYear', 'Vehicle_Trim', 'Dealer_Listing_Price'],
      dtype='object')

In [823]:
# Display the data types and non-null count of each column
print("\n Data types and non-null values of each column: ")
df.info()

 Data types and non-null values of each column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6298 entries, 0 to 6297
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ListingID             6298 non-null   int64
 1   SellerCity            6298 non-null   object
 2   SellerIsPriv          6298 non-null   bool
 3   SellerListSrc         6296 non-null   object
 4   SellerName            6298 non-null   object
 5   SellerRating          6298 non-null   float64
 6   SellerRevCnt          6298 non-null   int64
 7   SellerState           6298 non-null   object
 8   SellerZip             6296 non-null   float64
 9   VehBodystyle          6298 non-null   object
 10  VehCertified          6298 non-null   bool
 11  VehColorExt           6225 non-null   object
 12  VehColorInt           5570 non-null   object
 13  VehDriveTrain         5897 non-null   object
 14  VehEngine             5937 non-null   object
 15  VehFeats              6023 non-null   object
 16  VehFuel               6296 non-null   object
 17  VehHistory            6097 non-null   object
 18  VehListdays           6296 non-null   float64
 19  VehMake               6298 non-null   object
 20  VehMileage            6296 non-null   float64
 21  VehModel              6298 non-null   object
 22  VehPriceLabel         6013 non-null   object
 23  VehSellerNotes        6055 non-null   object
 24  VehType               6298 non-null   object
 25  VehTransmission       6101 non-null   object
 26  VehYear               6298 non-null   int64
 27  Vehicle_Trim          5893 non-null   object
 28  Dealer_Listing_Price  6246 non-null   float64
dtypes: bool(2), float64(5), int64(3), object(19)
memory usage: 1.3+ MB

In [824]:
# Check for duplication
print("\n Number of unique values in each column: ")
df.nunique()

 Number of unique values in each column:

ListingID               6298
SellerCity              1318
SellerIsPriv               2
SellerListSrc              8
SellerName              2452
SellerRating              40
SellerRevCnt             814
SellerState               50
SellerZip               1828
VehBodystyle               1
VehCertified               2
VehColorExt              169
VehColorInt              106
VehDriveTrain             20
VehEngine                 96
VehFeats                 843
VehFuel                    4
VehHistory                33
VehListdays             6005
VehMake                    2
VehMileage              5283
VehModel                   2
VehPriceLabel              3
VehSellerNotes          4920
VehType                    1
VehTransmission           33
VehYear                    5
Vehicle_Trim              29
Dealer_Listing_Price    2877
dtype: int64

In [825]:
# Display the number of missing records is each column
df.isnull().sum()

ListingID                 0
SellerCity                0
SellerIsPriv              0
SellerListSrc             2
SellerName                0
SellerRating              0
SellerRevCnt              0
SellerState               0
SellerZip                 2
VehBodystyle              0
VehCertified              0
VehColorExt              73
VehColorInt             728
VehDriveTrain           401
VehEngine               361
VehFeats                275
VehFuel                   2
VehHistory              201
VehListdays               2
VehMake                   0
VehMileage                2
VehModel                  0
VehPriceLabel           285
VehSellerNotes          243
VehType                   0
VehTransmission         197
VehYear                   0
Vehicle_Trim            405
Dealer_Listing_Price     52
dtype: int64

In [826]:
# Display the percentage of missing records in each column
(df.isnull().sum()/(len(df)))*100

ListingID                0.000000
SellerCity               0.000000
SellerIsPriv             0.000000
SellerListSrc            0.031756
SellerName               0.000000
SellerRating             0.000000
SellerRevCnt             0.000000
SellerState              0.000000
SellerZip                0.031756
VehBodystyle             0.000000
VehCertified             0.000000
VehColorExt              1.159098
VehColorInt             11.559225
VehDriveTrain            6.367101
VehEngine                5.731978
VehFeats                 4.366466
VehFuel                  0.031756
VehHistory               3.191489
VehListdays              0.031756
VehMake                  0.000000
VehMileage               0.031756
VehModel                 0.000000
VehPriceLabel            4.525246
VehSellerNotes           3.858368
VehType                  0.000000
VehTransmission          3.127977
VehYear                  0.000000
Vehicle_Trim             6.430613
Dealer_Listing_Price     0.825659
dtype: float64

In [827]:
# Evaluate the data
print("\n Data evaluation: ")
df.describe()

 Data evaluation:

,ListingID,SellerRating,SellerRevCnt,SellerZip,VehListdays,VehMileage,VehYear,Dealer_Listing_Price
count,6.298000e+03,6298.000000,6298.000000,6296.000000,6296.000000,6296.000000,6298.000000,6246.000000
mean,4.318130e+06,4.138346,434.565576,45234.211722,56.143670,26369.364358,2016.792633,32265.053314
std,2.486031e+06,1.188033,1274.257411,20380.478191,68.301329,13036.568712,1.206566,7538.339005
min,3.287000e+03,0.000000,0.000000,1105.000000,0.293102,0.000000,2015.000000,18289.000000
25%,2.178112e+06,4.000000,28.000000,28806.000000,12.998391,16835.000000,2015.000000,26900.000000
50%,4.298122e+06,4.600000,126.000000,46410.000000,33.463484,26181.000000,2017.000000,31455.500000
75%,6.488249e+06,4.800000,401.000000,60126.000000,74.139769,36468.500000,2018.000000,35991.000000
max,8.620012e+06,5.000000,14635.000000,99654.000000,820.684375,83037.000000,2019.000000,89500.000000

In [828]:
# DATA CLEANING

In [829]:
# Remove columns with low or no influence on model
to_drop = ['ListingID', 'SellerListSrc']
df = df.drop(to_drop, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6298 entries, 0 to 6297
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SellerCity            6298 non-null   object
 1   SellerIsPriv          6298 non-null   bool
 2   SellerName            6298 non-null   object
 3   SellerRating          6298 non-null   float64
 4   SellerRevCnt          6298 non-null   int64
 5   SellerState           6298 non-null   object
 6   SellerZip             6296 non-null   float64
 7   VehBodystyle          6298 non-null   object
 8   VehCertified          6298 non-null   bool
 9   VehColorExt           6225 non-null   object
 10  VehColorInt           5570 non-null   object
 11  VehDriveTrain         5897 non-null   object
 12  VehEngine             5937 non-null   object
 13  VehFeats              6023 non-null   object
 14  VehFuel               6296 non-null   object
 15  VehHistory            6097 non-null   object
 16  VehListdays           6296 non-null   float64
 17  VehMake               6298 non-null   object
 18  VehMileage            6296 non-null   float64
 19  VehModel              6298 non-null   object
 20  VehPriceLabel         6013 non-null   object
 21  VehSellerNotes        6055 non-null   object
 22  VehType               6298 non-null   object
 23  VehTransmission       6101 non-null   object
 24  VehYear               6298 non-null   int64
 25  Vehicle_Trim          5893 non-null   object
 26  Dealer_Listing_Price  6246 non-null   float64
dtypes: bool(2), float64(5), int64(2), object(18)
memory usage: 1.2+ MB

In [830]:
# Find rows with 'SellerZip' Nan values
df[df['SellerZip'].isnull()]

,SellerCity,SellerIsPriv,SellerName,SellerRating,SellerRevCnt,SellerState,SellerZip,VehBodystyle,VehCertified,VehColorExt,...,VehMake,VehMileage,VehModel,VehPriceLabel,VehSellerNotes,VehType,VehTransmission,VehYear,Vehicle_Trim,Dealer_Listing_Price
1125,Richmond,False,Pearson Chrysler Jeep Dodge RAM,1.0,4,VA,NaN,SUV,True,NaN,...,Jeep,38329.0,Grand Cherokee,Good Deal,NaN,Used,NaN,2017,Limited,26333.0
3855,Dearborn,False,Jack Demmer Lincoln,4.8,261,MI,NaN,SUV,False,NaN,...,Jeep,36678.0,Grand Cherokee,Fair Price,NaN,Used,NaN,2015,Limited,23500.0

In [831]:
# Find the rows with 'SellerCity' and 'SellerState' values as 'Richmond' and 'VA' respectively
rslt_df = df.loc[(df['SellerCity'] == 'Richmond') & (df['SellerState'] == 'VA')]

In [832]:
# Find the most frequent zip code in the above rows
most_frequent_zip = rslt_df['SellerZip'].value_counts().idxmax()
most_frequent_zip

23235.0

In [833]:
# Replace Nan SellerZip value with Richmond's Zip Code
df.at[1125, 'SellerZip'] = most_frequent_zip
df.loc[[1125]]

,SellerCity,SellerIsPriv,SellerName,SellerRating,SellerRevCnt,SellerState,SellerZip,VehBodystyle,VehCertified,VehColorExt,...,VehMake,VehMileage,VehModel,VehPriceLabel,VehSellerNotes,VehType,VehTransmission,VehYear,Vehicle_Trim,Dealer_Listing_Price
1125,Richmond,False,Pearson Chrysler Jeep Dodge RAM,1.0,4,VA,23235.0,SUV,True,NaN,...,Jeep,38329.0,Grand Cherokee,Good Deal,NaN,Used,NaN,2017,Limited,26333.0

In [834]:
# Find the rows with 'SellerCity' and 'SellerState' values as 'Dearborn' and 'MI' respectively
rslt_df = df.loc[(df['SellerCity'] == 'Dearborn') & (df['SellerState'] == 'MI')]

In [835]:
# Find the most frequent 'SellerZip' in the above rows
most_frequent_zip = rslt_df['SellerZip'].value_counts().idxmax()
most_frequent_zip

48124.0

In [836]:
# Replace NaN SellerZip value with Dearborn's Zip Code
df.at[3855, 'SellerZip'] = most_frequent_zip
df.loc[[3855]]

,SellerCity,SellerIsPriv,SellerName,SellerRating,SellerRevCnt,SellerState,SellerZip,VehBodystyle,VehCertified,VehColorExt,...,VehMake,VehMileage,VehModel,VehPriceLabel,VehSellerNotes,VehType,VehTransmission,VehYear,Vehicle_Trim,Dealer_Listing_Price
3855,Dearborn,False,Jack Demmer Lincoln,4.8,261,MI,48124.0,SUV,False,NaN,...,Jeep,36678.0,Grand Cherokee,Fair Price,NaN,Used,NaN,2015,Limited,23500.0

In [837]:
# Display the percentage of missing records in each column
(df.isnull().sum()/(len(df)))*100

SellerCity               0.000000
SellerIsPriv             0.000000
SellerName               0.000000
SellerRating             0.000000
SellerRevCnt             0.000000
SellerState              0.000000
SellerZip                0.000000
VehBodystyle             0.000000
VehCertified             0.000000
VehColorExt              1.159098
VehColorInt             11.559225
VehDriveTrain            6.367101
VehEngine                5.731978
VehFeats                 4.366466
VehFuel                  0.031756
VehHistory               3.191489
VehListdays              0.031756
VehMake                  0.000000
VehMileage               0.031756
VehModel                 0.000000
VehPriceLabel            4.525246
VehSellerNotes           3.858368
VehType                  0.000000
VehTransmission          3.127977
VehYear                  0.000000
Vehicle_Trim             6.430613
Dealer_Listing_Price     0.825659
dtype: float64

In [838]:
# Clean up VehColorExt column
df['VehColorExt'].value_counts()

VehColorExt
Bright White Clearcoat               586
Billet Silver Metallic Clearcoat     386
Brilliant Black Crystal Pearlcoat    378
Black                                369
White                                336
                                    ...
Crystal White Tricoa                   1
Ivory 3 Coat                           1
Billett Silver Clearcoat Metallic      1
Platinum                               1
Steel Gray                             1
Name: count, Length: 169, dtype: int64

In [839]:
# Reomove NaN values from VehColorExt column
df = df[df['VehColorExt'].notna()]

In [840]:
# Search for rows with 'VehColorExt' value contains 'Black Forest Green'
searchfor = ['Black Forest Green']
rslt_df = df[df['VehColorExt'].str.contains('|'.join(searchfor))]
rslt_df['VehColorExt'].value_counts()

VehColorExt
Black Forest Green Pearlcoat     6
Black Forest Green               2
Black Forest Green Pearl Coat    1
Name: count, dtype: int64

In [841]:
# Replace rows with 'VehColorExt' value contains 'Black Forest Green' with 'Green'
import numpy as np
df['VehColorExt'] = np.where(df['VehColorExt'].str.contains('|'.join(searchfor)), 'Green', df['VehColorExt'])

# Search for rows with 'VehColorExt' value contains 'Black Forest Green'
rslt_df = df[df['VehColorExt'].str.contains('|'.join(searchfor))]
rslt_df['VehColorExt'].value_counts()

Series([], Name: count, dtype: int64)

In [842]:
# Search for rows with 'VehColorExt' value contains 'Black'
searchfor = ['Black']
rslt_df = df[df['VehColorExt'].str.contains('|'.join(searchfor))]
rslt_df['VehColorExt'].value_counts()

VehColorExt
Brilliant Black Crystal Pearlcoat     378
Black                                 369
Stellar Black Metallic                322
Diamond Black                         207
Diamond Black Crystal Pearlcoat       140
Black Metallic                         65
Brilliant Black Crystal Pearl Coat     11
Stellar Black                           8
Diamond Black Crystal Pearl Coat        5
Diamond Black Crystal P/C               3
Db Black                                2
Brilliant Black                         2
Diamond Black Crystal                   1
Diamond Black Crystal Pearl-Coat        1
Black Crystal                           1
Black Black                             1
Black Limited                           1
Brilliant Black Crystal P               1
Brilliant Black Crystal Clear           1
Brilliant Black Crystal Pearl           1
Silver Black                            1
Stellar Black M                         1
Name: count, dtype: int64

In [843]:
# Replace rows with 'VehColorExt' value contains 'Black' with 'Black'
df['VehColorExt'] = np.where(df['VehColorExt'].str.contains('|'.join(searchfor)), 'Black', df['VehColorExt'])

In [844]:
# Search for rows with 'VehColorExt' value contains 'Black'
searchfor = ['Black']
rslt_df = df[df['VehColorExt'].str.contains('|'.join(searchfor))]
rslt_df['VehColorExt'].value_counts()

VehColorExt
Black    1522
Name: count, dtype: int64

In [845]:
# Clean up VehDriveTrain column
df['VehDriveTrain'].value_counts()

VehDriveTrain
4WD                                                           3823
FWD                                                           1079
AWD                                                            719
4X4                                                             42
Four Wheel Drive                                                40
FRONT-WHEEL DRIVE                                               35
ALL-WHEEL DRIVE                                                 25
Front Wheel Drive                                               19
All Wheel Drive                                                 19
4x4                                                             12
4x4/4-wheel drive                                               10
4x4/4WD                                                          9
AWD or 4x4                                                       6
All-wheel Drive                                                  5
Front-wheel Drive                                                2
ALL-WHEEL DRIVE WITH LOCKING AND LIMITED-SLIP DIFFERENTIAL       1
2WD                                                              1
ALL WHEEL                                                        1
AllWheelDrive                                                    1
4WD/AWD                                                          1
Name: count, dtype: int64